.columns > div {
  display: flex;
  flex-direction: column;
}

.columns .columns-img-col img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > .columns-img-col table img {
  display: block;
  min-width: 40px;
  width: 40px;
  margin: 0px 10px;
}
main .section > .columns-wrapper {
  max-width: 100%;
}
main .section > .columns-wrapper:has(.columns-3-cols) {
  max-width: 1400px;
}
.columns .columns-content-col {
  padding: 5rem 5rem 5rem 8rem;
}
div[data-align="right"] {
  text-align: right;
}
@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 0;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    flex-basis: 50%;
  }
}

@media (width < 900px) {
  .columns .columns-content-col {
    padding: 10px;
  }
}

